.header-main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: cadetblue;
  width: 100%;
  row-gap: 0.7rem;
  padding-block: 1rem;
  border-radius: 15px 15px 0px 0px;
  h1 {
    font-size: 8rem;
    font-family: "coolvetica";
    text-transform: uppercase;
    letter-spacing: 5px;
    line-height: 6rem;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: whitesmoke;
  }
  p {
    font-size: 1.5rem;
  }
  .numb-tasks {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 3rem;
    width: 40px;
    height: 40px;
    font-size: 3rem;
    border: 1px solid black;
    border-radius: 50%;
    padding: 15px;
    padding-left: 17px;
    padding-top: 17px;
    background-color: rgb(138, 199, 201);
  }
}
